CONFIG proxy.config.http.fcgi.enabled INT 1
CONFIG proxy.config.http.fcgi.host.hostname STRING localhost
CONFIG proxy.config.http.fcgi.host.server_ip  STRING 127.0.0.1
CONFIG proxy.config.http.fcgi.host.server_port STRING 60000
CONFIG proxy.config.http.fcgi.host.include STRING fastcgi.config
CONFIG proxy.config.http.fcgi.host.root_directory STRING /
