#fastcgi.conf
fastcgi_param  GATEWAY_INTERFACE  STRING  CGI/1.1;
fastcgi_param  SERVER_SOFTWARE    STRING  ATS;
fastcgi_param  QUERY_STRING       STRING  $query_string;
fastcgi_param  REQUEST_METHOD     STRING  $request_method;
fastcgi_param  CONTENT_TYPE       STRING  $content_type;
fastcgi_param  CONTENT_LENGTH     STRING  $content_length;
fastcgi_param  SCRIPT_FILENAME    STRING  $document_root$fastcgi_script_name;
fastcgi_param  SCRIPT_NAME        STRING  $fastcgi_script_name;
fastcgi_param  REQUEST_URI        STRING  $request_uri;
fastcgi_param  DOCUMENT_URI       STRING  $document_uri;
fastcgi_param  DOCUMENT_ROOT      STRING  $document_root;
fastcgi_param  SERVER_PROTOCOL    STRING  $server_protocol;
fastcgi_param  REMOTE_ADDR        STRING  $remote_addr;
fastcgi_param  REMOTE_PORT        STRING  $remote_port;
fastcgi_param  SERVER_ADDR        STRING  $server_addr;
fastcgi_param  SERVER_PORT        STRING  $server_port;
fastcgi_param  SERVER_NAME        STRING  $server_name;